## Functions
# exportPattern("^[[:alpha:]]+")

export(
    ## Data sets

    ## Utilities
    "geneGrep", "getCmap", "getCmapCEL", "normalizeCel", "combineResults",
    "sampleList", "runLimma", "probeset2gene.Rd"
) 
